@media screen and (max-width: 1280px) {
    .head {
        height: 130% !important;
    }

    .head .text_button {
        height: 30px !important;
    }

    .basic {
        height: 120% !important;
        flex-direction: column;
    }

    .basic .basic_card {
        width: 90% !important;
        height: 90% !important;
        margin-top: 100px;
    }

    .small {
        height: 700px !important;
    }

    .sbot {
        flex-wrap: wrap;
    }

    .food {
        height: 1486px !important;
    }

    .food .fcenter {
        flex-wrap: wrap;
    }

    .food .fbot {
        flex-wrap: wrap;
    }

    .review {
        height: 700px !important;
    }

    .rbot {
        height: 140px !important;
        flex-wrap: wrap;
    }

    .recipe {
        height: 140% !important;
    }

    .rec_bot {
        gap: 20px;
    }

    .rl_center {
        padding-right: 60px !important;
    }

    .lorem {
        width: 480px !important;
        margin-right: 60px;
    }

    .lor_top h2 {
        font-size: 10px;
    }

    .ss_bot {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1280px) and (min-width: 1024px) {
    .head {
        height: 130% !important;
    }

    .head .text_button {
        height: 30px !important;
    }

    .basic {
        height: 120% !important;
        flex-direction: column;
    }

    .basic .basic_card {
        /* width: 90% !important;
      height: 90% !important; */
        margin-top: 100px;
    }

    .small {
        height: 700px !important;
    }

    .sbot {
        flex-wrap: wrap;
    }

    .food {
        height: 1486px !important;
    }

    .food .fcenter {
        flex-wrap: wrap;
    }

    .food .fbot {
        flex-wrap: wrap;
    }

    .review {
        height: 700px !important;
    }

    .rbot {
        height: 140px !important;
        flex-wrap: wrap;
    }

    .recipe {
        height: 140% !important;
    }

    .rec_bot {
        gap: 20px;
    }

    .rl_center {
        padding-right: 60px !important;
    }

    .lorem {
        width: 480px !important;
        /* margin-right: 60px; */
    }

    .lor_top h2 {
        font-size: 10px;
    }

    .ss_bot {
        flex-wrap: wrap;
    }

    .food {
        height: 2400px !important;
    }

    .food .fcenter {
        height: 1100px !important;
        flex-wrap: wrap;
    }

    .food .fbot {
        height: 1100px !important;
        flex-wrap: wrap;
    }

    .recipe .rec_bot {
        padding-left: 70px;
    }

    .social {
        height: 1000px !important;
    }
}

@media screen and (max-width: 1024px) {
    .food {
        height: 3500px !important;


    }

    .food .fcenter {
        height: 1200px !important;
        flex-wrap: wrap;
    }

    .food .fbot {
        height: 1500px !important;
        flex-wrap: wrap;
    }

    .recipe .rec_bot {
        padding-left: 70px;
    }

    .social {
        height: 1000px !important;
    }
}

@media screen and (max-width: 1024px) and (min-width: 900px) {
    .images {
        width: 80% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .images img {
        position: absolute;
        width: 50%;
    }

    .food {
        height: 2400px !important;
    }

    .food .fcenter {
        height: 1100px !important;
        flex-wrap: wrap;
    }

    .food .fbot {
        height: 1100px !important;
        flex-wrap: wrap;
    }

    .recipe .rec_bot {
        padding-left: 70px;
    }

    .social {
        height: 1000px !important;
    }

    .recipe {
        height: 200% !important;
    }

    .rr_left {
        height: 810px !important;
    }

    .rl_bot {
        padding-bottom: 20px;
        padding-right: 60px;
    }

    .rec_bot {
        height: 810px !important;
        flex-direction: column;
        align-items: center;
    }

    .lorem {
        width: 550px !important;
        margin-left: 60px;
    }
}



@media screen and (max-width: 900px) {
    .recipe {
        height: 200% !important;
    }

    .rr_left {
        height: 810px !important;
    }

    .rl_bot {
        padding-bottom: 20px;
        padding-right: 60px;
    }

    .rec_bot {
        height: 810px !important;
        flex-direction: column;
        align-items: center;
    }

    .lorem {
        width: 550px !important;
        margin-left: 60px;
    }
}

@media screen and (max-width: 900px) and (min-width: 760px) {
    .images {
        width: 80% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .images img {
        position: absolute;
        width: 50%;
    }

    .fr_top {
        flex-direction: column;
    }

    .fr_top .text_bot {
        width: 60% !important;
    }
}

@media screen and (max-width: 760px) {
    .text_top {
        height: 320px !important;
    }

    .text_top h1 {
        font-size: 52px !important;
        line-height: 50px !important;
    }

    .text_top p {
        font-size: 13px !important;
        line-height: 20px !important;
    }

    .ll_hid {
        display: none;
    }

    .rmenu {
        display: none;
    }

    .burger {
        display: block !important;
    }

    .bx {
        transition: all 0.3s linear;
        color: #34c759;
    }

    .bx:hover .right_hidden {
        display: block !important;
    }

    .basic .theme h2 {
        font-size: 80px !important;
    }

    .basic .theme h3 {
        font-size: 30px !important;
    }

    .basic .theme p {
        font-size: 13px !important;
        line-height: 20px !important;
    }

    .basic .images {
        width: 80% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .basic .images img {
        position: absolute;
        width: 50%;
    }

    .food {
        position: relative;
    }

    .ftop {
        height: 300px !important;
    }

    .fcenter {
        position: relative;
        flex-direction: column;
    }

    .fcenter .fbox:nth-child(1) {
        position: absolute;
        top: 0;
    }

    .fcenter .fbox:nth-child(2) {
        position: absolute;
        top: 510px;
    }

    .fcenter .fbox:nth-child(3) {
        position: absolute;
        top: 1020px;
    }

    .fbot {
        position: absolute;
        bottom: 0;
        flex-direction: column;
    }

    .fbot .fbox:nth-child(1) {
        position: absolute;
        top: 0;
    }

    .fbot .fbox:nth-child(2) {
        position: absolute;
        top: 510px;
    }

    .fbot .fbox:nth-child(3) {
        position: absolute;
        top: 1020px;
    }

    .review {
        height: 1000px !important;
        position: relative;
    }

    .review .people:nth-child(3) {
        position: absolute;
        top: 650px;
        left: 180px;
    }

    .review .people:nth-child(2) {
        position: absolute;
        top: 450px;
        left: 180px;
    }

    .review .people:nth-child(1) {
        position: absolute;
        top: 250px;
        left: 180px;
    }

    .social {
        height: 1400px !important;
    }

    .ss_bot {
        position: relative;
        flex-direction: column;
        align-items: center;
    }

    .ss_bot .network:nth-child(3) {
        position: absolute;
        top: 730px;
    }

    .ss_bot .network:nth-child(2) {
        position: absolute;
        top: 370px;
    }

    .fr_top {
        flex-direction: column;
    }

    .fr_top .text_bot {
        width: 60% !important;
    }
}

@media screen and (max-width: 650px) {
    .container {
        width: 650px !important;
    }

    .container .head .navbar {
        width: 650px !important;
    }

    .container .head .navbar .burger {
        width: 300px !important;
    }

    .container .head .navbar .burger .bleft {
        max-width: auto;
    }

    .container .head .navbar .burger .bleft img {
        width: 20px !important;
        height: 20px !important;
    }

    .container .head .navbar .burger .bleft h2 {
        font-size: 14px !important;
    }

    .container .food {
        height: 3600px !important;
    }

    .container .food .fbot {
        height: 1700px !important;
    }

    .container .review .people:nth-child(3) {
        position: absolute;
        top: 650px;
        left: 125px;
    }

    .container .review .people:nth-child(2) {
        position: absolute;
        top: 450px;
        left: 125px;
    }

    .container .review .people:nth-child(1) {
        position: absolute;
        top: 250px;
        left: 125px;
    }

    .container .rec_top .work h2 {
        font-size: 70px !important;
    }

    .container .rec_top .work h3 {
        font-size: 30px !important;
    }

    .container .recipe {
        height: 250% !important;
    }

    .container .rec_bot {
        height: 810px !important;
    }

    .container .rec_bot .rr_left {
        height: 660px !important;
    }

    .container .footer .fr_top {
        width: 900px !important;
        flex-direction: column;
        flex-wrap: wrap;


    }

}

@media screen and (max-width:480px) {
    .container .basic .basic_card {}


    .container .basic .basic_card .theme h2 {
        font-size: 70px !important;

    }

    .container .basic .basic_card .theme h3 {
        font-size: 20px !important;

    }




    .container .recipe .rec_top {
        padding-right: 85px !important;

    }

    .container .recipe .rec_bot {
        padding-right: 100px !important;
    }


}

@media screen and (max-width:320px) {
    .container .basic {


        height: 80% !important;

    }

    .container .basic .basic_card .theme {
     height: 50% !important;

    }
    .container .basic .basic_card .theme h2 {
        font-size: 50px !important;
    }
    .container .basic .basic_card .theme h3 {
    font-size: 16px !important;

    }
    .container .basic .basic_card .theme p {
    font-size: 11px !important;

    }
    .container .basic .basic_card .about {
    height: 50% !important;

    }


    .container .basic .basic_card {

        top: 90% !important;
        height: 70% !important;

    }
}